# SPDX-License-Identifier: ISC
# Copyright (c) 2019-2021 Bitmark Inc.
# Use of this source code is governed by an ISC
# license that can be found in the LICENSE file.

log:
  level: info

owner_did: <pod_owner_did>

# set the directory for key and db files
data_dir: .

db_name: controller.db
auth_key_file: auth_key.json
gordian_master_key_file: gordian_master_key

messaging:
  db_name: "axolotl.db"
  endpoint: "https://autonomy-wallet.bitmark.com"

bitcoind:
  rpcconnect: http://localhost:8332
  rpcuser: username
  rpcpassword: password
